.canvasWrapper {
    background-color: "red";
    height: 500px !important;
}

.main-container {
    color: silver;
    position: relative;
    border: 1px solid silver;
    border-radius: 6px;
    box-shadow: 1px 1px 10px 1px silver;
    padding: 0;
    width: 100%;
    max-height: calc(100vmin - 4rem);
    height: 40rem;
}

#scene-container {
    /* tell our scene container to take up the full page */
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    /*
      Set the container's background color to the same as the scene's
      background to prevent flashing on load
    */
    background-color: skyblue;
}

.lil-gui {
    /* to keep the controls visible above the scene placement */
    z-index: 1 !important;
    position: absolute !important;
    right: 0 !important;
}

.menuContainer {
    width: 120px;
    height: 100px;
    z-index: 1001;
    position: absolute;
    right: 0;
    z-index: 1001;


    .collapseBtn, button{
        width: 100%;
        z-index: 1001;
        display: inline-block;
        outline: 0;
        appearance: none;
        padding: 0px 12px;
        border-radius: 4px;
        text-decoration: none;
        cursor: pointer;
        background-color: rgb(249, 251, 250);
        border: 1px solid rgb(137, 151, 155);
        box-shadow: rgb(6 22 33 / 30%) 0px 1px 2px;
        color: rgb(61, 79, 88);
        font-size: 14px;
        font-weight: 400;
        height: 36px;
        transition: all 150ms ease-in-out 0s;
        :hover {
            color: rgb(61, 79, 88);
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(93, 108, 116);
            box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231 238 236) 0px 0px 0px 3px;
        }
        :focus{
            border: 8px solid rgb(194, 186, 66);

        }
    
    }

    .navigationBtn {
        display: inline-block;
        height: 24px;
    }
    .zoomBtn{
        width: 50%;

    }
}
